/* Setting consistent background color for all webpages */
body {
  background-color: antiquewhite;
}
/*Styling for skb title on home page */
#nameTitle {
  text-align: center;
  font-size: 30vh;
  color: rgb(211, 159, 92);
  text-shadow: 30px 35px 35px rgb(110, 108, 108);
  text-transform: lowercase;
}

/*Button that appears in top left-hand side of each page linking user back to home page */
#homeButton {
  margin-top: 3vw;
  margin-left: 5vw;
}

/*Title for each page */
#pageTitle {
  text-align: center;
  color: rgb(211, 159, 92);
  text-shadow: 10px 10px 25px rgb(110, 108, 108);
  text-transform: lowercase;
  font-size: 5vh;
}

/*Buttons linking to other website pages */
.navButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5vw;
  margin-left: 12vw;
  margin-right: 12vw;
  margin-top: 5vh;
}

/* styling for navbar buttons */
#buttons {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-right: 25px;
  margin-left: 25px;
  border-radius: 2px;
  border-radius: 75px;
  width: 200px;
  height: 30px;
  text-align: center;
}

/* styling for navbar buttons on hover */
#buttons:hover {
  background-color: rgb(211, 159, 92);
}

/* Rounded border to style header */
hr.roundedLine {
  border-top: 3px solid rgb(211, 159, 92);
  border-radius: 5px;
  margin-right: 12vw;
  margin-left: 12vw;
  margin-top: 3vh;
}

/*content for about page */
#aboutContent {
  margin-top: 10vh;
}

/*image on about page */
#headshot {
  display: block;
  margin-right: 12vw;
  float: right;
  border-radius: 50%;
  padding: 10px;
}
/*bio on about page */
#aboutBlurb {
  display: block;
  margin-left: 12vw;
  margin-right: 5vw;


}

/*header for bio on about page */
#hello {
  margin-left: 12vw;
  color: rgb(53, 45, 35);
  font-size: 5vh;
}
