/* Setting consistent background color for all webpages */
body {
  background-color: #43aa8b;
}
* {
  margin: 0;
}

a {
  cursor: pointer;
  /* transition: 3s ease-in; */
}

/* ---------------------------Footer */
.footerContainer {
  display: flex;
  flex-direction: column;
}

/* ---------------------------Main Section */
.main-section {
  height: 100vh;
}

.main-header {
  display: flex;
  height: 100vh;
  margin: 0px auto;
  max-width: 1000px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0px;
  margin-left: 15vw;
  margin-right: 15vw;
}

h1 {
  font-size: 67pt;
  padding: 0;
}

h4 {
  font-size: 37pt;
}

p {
  font-size: 16pt;
}

#resume {
  border: 1px solid #f9c74f;
  color: black;
  margin-top: 3vh;
  width: 125px;
  height: auto;
  text-decoration: none;
  text-align: center;
  font-size: 25pt;
}

/* ---------------------------About Section */
.about-section {
  height: 100vh;
}

/*content for about page */
#aboutContent {
  display: flex;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 5vh;
}

/*bio on about page */
#aboutBlurb {
  display: block;

  padding-right: 5vw;
  align-self: center;
}

/*image on about page */
#headshot {
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

/* ---------------------------Experience Section */
.workhistory-section {
  height: 100vh;
}

/* ---------------------------Projects Section */
.projects-section {
  height: 100vh;
}

/* ---------------------------Contact Section */

.contact-section {
  height: 100vh;
}

/*Styling for skb title on home page */
#nameTitle {
  text-align: left;
  color: #f9c74f;
  text-shadow: 30px 35px 35px rgb(110, 108, 108);
  text-transform: lowercase;
}

/*Title for each page */
#pageTitle {
  text-align: left;
  color: #f9c74f;
  text-shadow: 10px 10px 25px rgb(110, 108, 108);
  text-transform: lowercase;
  padding-top: 15vh;
  font-size: 37pt;
  margin-left: 15vw;
}

.navBar-left {
  position: fixed;
  height: 5vh;
  display: flex;
  flex-direction: row;
  top: 0;
  width: 100%;
  justify-content: left;
  font-size: 1.3em;
  padding-top: 3vh;
  z-index: 1;
  color: black;
  border-bottom: 1px solid #f9c74f;
  background-color: #43aa8b;
}

.footer {
  position: fixed;
  height: 5vh;
  display: flex;
  flex-direction: row;
  bottom: 0;
  width: 100%;
  justify-content: center;
  padding-bottom: 3vh;
  z-index: 1;
  color: black;
  background-color: #43aa8b;
}

#icon {
  display: flex;
  flex-direction: column;
  width: 30px;
  height: auto;
  align-items: center;
  margin-right: 1.5vw;
  gap: 0.5vw;
}

/* styling for navbar buttons */
#buttons {
  display: flex;
  flex-direction: column;
  width: 100px;
  font-size: 14px;
  text-align: left;
  padding-right: 1vw;
  align-items: center;
}

.navBar > .active {
  color: #f9c74f;
}
